/* Global Reset */
* {
    margin: 0;
}

body {
    background-color: rgb(157,197,223);
    font: 13.34px helvetica, arial, clean, sans-serif;
    *font-size: small;  
    text-align: center;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    margin-left: 0.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    margin-left:0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    margin: 1em 0;
}

a {
   color: #364b66; 
}

a:hover {
    color: black;
}

/*TODO : do I even need that? */
/*
a:visited {
    color: rgb(254,210,123);
}*/

table {
    font-size: inherit;
    font: 100%;
}

/* If I want some columns */
/*
  #aboutMe {
  float: left;
  width: 500px;
  }

#searchInterests {
float: right;
width: 500px;
}
*/

.site {
    font-size: 110%;
    text-align: justify;
    width: 45em;
    margin: 3em auto 5em auto;
    line-height: 1.5em;
}

.title {
    font-weight: bold;
    margin-bottom: 2em;
    margin-left: 15px;
}

.paper{
    padding:10;
}

#home {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #364b66;
    border-radius: 15px;

    padding: 0 30px 20px 30px;
    box-shadow: 1px 1px 12px #555;
    margin-bottom: 5em;
}

.site .title a {
    color: #364b66;
    text-decoration: none;
}

.site .title a:hover {
    color: black;
}

.site .title a.extra {
    color: rgb(161,98,91);
    text-decoration: none;
    margin-left: 1em;
}

.site .title a.extra:hover {
    color: black;
}

.site .meta {
    color: rgb(161,98,91);
}

.site .footer {
    font-size: 80%;
    margin-top: 2em;
    height:1em;
    overflow: hidden;
}

.site .footer .contact {
    float: left;
    margin-right: 3em;
}

.site .footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.site .footer .rss img {
    border: 0;
}
